@using Tharga.Team
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ITeamStateService TeamStateService
@inject ITeamService TeamService
@inject IThargaTextProvider TextProvider

<AuthorizeView>
    <Authorized>
        @if (_teams == null)
        {
            <RadzenProgressBarCircular Value="100" Mode="ProgressBarMode.Indeterminate" ShowValue="true" Size="ProgressBarCircularSize.ExtraSmall">
                <Template>@TextProvider.Get(TeamMenuText.Loading)</Template>
            </RadzenProgressBarCircular>
        }
        else if (_teams.Length == 0)
        {
            <RadzenLink Text="@TextProvider.Get(TeamMenuText.CreateTeam)" Path="/team" />
        }
        else if (_teams.Length == 1 && SelectedTeam != null)
        {
            <RadzenImage Path="@SelectedTeam.Icon" class="rz-gravatar" Visible="@(!string.IsNullOrEmpty(SelectedTeam.Icon))" />
            <span>@SelectedTeam.Name</span>
        }
        else if (_teams.Length > 1 && SelectedTeam != null)
        {
            <RadzenImage Path="@SelectedTeam.Icon" class="rz-gravatar" Visible="@(!string.IsNullOrEmpty(SelectedTeam.Icon))" />
            <RadzenDropDown @bind-Value=@SelectedTeam Data="@(_teams.OrderBy(f => f.Name))" TextProperty="Name" />
        }
    </Authorized>
</AuthorizeView>

@code {
    private ITeam[] _teams;
    private ITeam _selectedTeam;

    private ITeam SelectedTeam
    {
        get => _selectedTeam;
        set
        {
            if (Equals(_selectedTeam, value)) return;
            _selectedTeam = value;
            TeamStateService.SetSelectedTeamAsync(_selectedTeam);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        TeamStateService.SelectedTeamChangedEvent += async (_, e) =>
        {
            _selectedTeam = e.SelectedTeam;
            await InvokeAsync(StateHasChanged);
        };

        TeamStateService.TeamsListChangedEvent += async (_, _) =>
        {
            await ReloadTeams();
        };

        TeamService.SelectTeamEvent += (_, e) =>
        {
            SelectedTeam = e.Team;
        };

        var current = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (current.User.Identity?.IsAuthenticated ?? false)
        {
            await ReloadTeams();
        }

        await base.OnInitializedAsync();
    }

    private async Task ReloadTeams()
    {
        _teams = await TeamService.GetTeamsAsync().ToArrayAsync();
        var selectedTeam = await TeamStateService.GetSelectedTeamAsync();
        SelectedTeam ??= selectedTeam;
        StateHasChanged();
    }
}
